--index-url https://download.pytorch.org/whl/cpu

torch
torchvision
torchaudio
streamlit
langchain
langchain-huggingface
huggingface-hub
langchain-community
langchain-openai
langchain-groq
sentence-transformers
faiss-cpu
openai
pypdf
groq

